@import "reset.css";
.b-nav {
    margin: 20px 0;
}
.b-alert {
    margin: 20px 0;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.ng-invalid.ng-dirty {
    border-color: red;
}
.ng-valid.ng-dirty {
    border-color: green;
}
.form-control {
    margin-bottom: 10px;
}
textarea {
    resize: none;
}
.b-form, blockquote {
    margin-top: 10px;
}
.ng-touched.ng-invalid {
    border-color: #ccc;
}
.b-custom-directive {
    margin: 20px 0;
}
.b-attention {
    margin-top: 20px;
}
h1 {
    margin-bottom: 10px;
}
.b-invoice-calendar i.glyphicon-calendar {
    position: absolute;
    right: 22px;
    top: 9px;
}
.b-invoice-calendar .datepicker {
    width: 300px;
    padding: 10px;
}
table.table {
    border: 1px solid #DDD;
}
.nav__item {
    color: rgb(218, 194, 83);
    margin-top: 17px;
}