<div class="well" ngCloak>
    <div class="text-center"><strong>Comments</strong></div>
<hr/>
    <blockquote ng-repeat="comment in comments track by $index">
        <p><span>Name: </span>{{comment.name}} <span class="pull-right">{{comment.time | date: 'short'}}</span></p>
        <p><span>Mail: </span><a href="mailto:#">{{comment.email}}</a></p>
        <p><span>Massage: </span>{{comment.message}}</p>
    </blockquote>

    <form name="commentForm" class="b-form" ng-submit="addNewComment(comment)">
        <input ng-model="comment.name" class="form-control" type="text" name="name" placeholder="Write name" required/>
        <input ng-model="comment.email" class="form-control" type="email" name="email" placeholder="Write email" required/>
        <textarea ng-model="comment.message" minlength="5" class="form-control" name="message" placeholder="Write massage" required></textarea>
        <input type="submit" class="btn btn-default" value="Add comment"/>
    </form>
</div>
